<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jb.jbean.persistence.AdminMapper">


<insert id="productInsert" parameterType="provo">
insert into Product3 values
(seq_Proidx.NEXTVAL,#{proname},#{proprice},#{procnt},#{prosize},#{promain},#{prosub1},#{prosub2},#{proinfo},default,null,default,#{cidx},#{pronum})
</insert>

<select id="productSelect" parameterType="provo">
select * from Product3 where Cidx like '%#{cidx}%' and Proname like '%#{proname}%' 
and Proprice like '%#{proprice}%'
</select>

</mapper>