<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jb.jbean.persistence.BoardMapper">

	<select id="boardListN" parameterType="String" resultType="bvo">
		select * from Board3 where Bgroup=#{bgroup} and Bdel_yn='N'
	</select>

	<select id="boardListF" parameterType="String" resultType="bvo">
		select * from Board3 where Bgroup=#{bgroup} and Bdel_yn='N'
	</select>

	<insert id="boardWrite" parameterType="bvo">
		insert into Board3 values(seq_Bidx.NEXTVAL, #{bgroup}, #{bsubject}, #{bcontent}, default,
		null, default, #{bip}, default, #{midx})
	</insert>

	<update id="boardDelete" parameterType="bvo">
		update Board3 set Bdel_yn='Y', Bmday=sysdate where Bidx=#{bidx}
	</update>

	<select id="boardOne" parameterType="bvo" resultType="bvo">
		select * from Board3 where Bidx=#{bidx}
	</select>
	
	<update id="boardModify" parameterType="bvo">
		update Board3 set Bsubject=#{bsubject}, Bcontent=#{bcontent}, Bmday=sysdate, Bip=#{bip} where Bidx=#{bidx}
	</update>
	
	<!-- <update id="boardHits" parameterType="String" resultType="bvo">
		update Board3 set Bhits=#{bhits}+1 where Bidx=#{bidx}
	</update>
	 -->

</mapper>