<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jb.jbean.persistence.MemberMapper">

<insert id="memberJoin" parameterType="mvo">
insert into Member3 
values(seq_Midx.NEXTVAL,#{mid}, #{mpwd}, #{mname},#{mphone},#{mmail},#{mpost},#{maddr1},#{maddr2},default,default,null,#{mip})
</insert>

<select id="memberLogin" parameterType="mvo" resultType="mvo">
select Midx, Mid, Mpwd from Member3 where Mid=#{mid} and Mpwd=#{mpwd}
</select>

<update id="memberModify" parameterType="mvo">
update Member3 set Mpwd=#{mpwd}, Mmail=#{mmail}, Mphone=#{mphone}, Mpost=#{mpost}, Maddr1=#{maddr1}, Maddr2=#{maddr2}, Mip=#{mip}, Mmday=sysdate where Midx=#{midx}
</update>

<select id="memberOne" parameterType="String" resultType="mvo">
select * from Member3 where Mid=#{mid}
</select>

</mapper>