<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb.jbean.persistence.OrderMapper">

	<select id="defaultAddr" parameterType="mvo" resultType="mvo">
		select Mname,Mphone,Mpost,Maddr1,Maddr2 from Member3 where Midx=#{midx}
	</select>
	
	<insert id="orderInsert" parameterType="ovo">
		insert into Order3
		values(seq_Oidx.NEXTVAL,#{oid},default,#{ocnt},#{oprice},default,#{midx},#{proidx})
	</insert>
	
	<insert id="deliveryInsert" parameterType="buyvo">
		insert into Delivery3 
		values(seq_Didx.NEXTVAL,#{oid},#{dname},#{dpost},#{daddr1},#{daddr2},#{dmsg},#{dcode},default,default,#{dphone})
	</insert>
		
	<insert id="payInsert" parameterType="buyvo">
		insert into Pay3 
		values(seq_Pidx.NEXTVAL,#{oid},#{pprice},#{ptype},null,default,default,#{pname})
	</insert>
	
	<select id="orderCheck" parameterType="HashMap" resultType="buyvo">
		select * from Product3 pro, Order3 o, Pay3 p, Delivery3 d where pro.Proidx=o.Proidx and o.Oid=p.Oid and o.Oid=d.Oid and o.Midx=#{midx} and o.Oid=#{oid}
	</select>
	
	<select id="orderSelect" parameterType="ArrayList" resultType="buyvo">
	select * from Order3 o, Product3 pro where pro.Proidx=o.Proidx and o.Oid=#{oid}
	</select>
	
</mapper>